* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: #232323;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #f2f2f2;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.navLink {
  padding: 0.8rem 1.5rem;
}